@font-face {
    font-family: Gotham-Book;
    src: url("./fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("./fonts/Gotham-Bold.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* { padding:0; margin:0; outline:0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham-Bold";
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 0;
}

input, textarea, select { font-family: Arial, sans-serif; font-size:11px; }
a img { border:0; }
a {text-decoration: none; cursor:pointer; }
.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

html {
  font-family: 'Gotham-Book';
}

body {
  padding:0;
  margin:0;
  outline:0;
}